
{% extends 'base.html' %}
{% block title %}
	<title>Multa.com | Cadastros</title>
{% endblock %}

{% block corpo %}
<div id="lista_usuario_cadastrados">
<h2>Usuários Cadastrados</h2>
<table border="1">
		<tr>
			<td>Nome</td>
			<td>C.P.F.</td>
			<td>Editar</td>
			<td>Excluir</td>
		</tr>
		
{% for usuario in usuario_lista %}
		<tr>
			<td>{{usuario.nome}}</td>
			<td>{{usuario.cpf}}</td>
			<td><a href="/cadastro/usuario/editar/{{usuario.id}}"><img src="/media/imagens/edit.png" alt="Editar"/></a></td>
			<td><a href="/cadastro/excluir/{{usuario.id}}"><img src="/media/imagens/delete.png" alt="Excluir"/></a></td>
		</tr>
	{% empty %}
		<span>Sem Cadastros</span>
{% endfor%}
</table>
</div>
<div id="lista_usuario_cadastrados">
<h2>Multas Cadastradas</h2>
<table border="1">
		<tr>
			<td>Código</td>
			<td>Titulo</td>
			<td>Gravidade</td>
			<td>Local</td>
			<td>Pontos</td>
			<td>Editar</td>
			<td>Excluir</td>
		</tr>
{% for multa in multa_lista %}
		<tr>
			<td>{{multa.id}}</td>
			<td>{{multa.titulo}}</td>
			<td>{{multa.gravidade}}</td>
			<td>{{multa.local}}</td>
			<td>{{multa.numeros_de_pontos}}</td>
			<td><a href="/cadastro/multa/editar/{{multa.id}}"><img src="/media/imagens/edit.png" alt="Editar"/></a></td>
			<td><a href="/cadastro/multa/excluir/{{multa.id}}"><img src="/media/imagens/delete.png" alt="Excluir"/></a></td>
		
		</tr>
	{% empty %}
		<span>Sem Cadastros</span>
{% endfor%}
</table>
</div>
{% endblock %}