
{% extends 'base.html' %}
{% block title %}
	<title>Cadastros</title>
{% endblock %}

{% block menu %}
	<a href="/">Home</a>
	<ul>
		<a href="/cadastro/">Cadastros</a>
	<li><a href="/cadastro/usuario/">Adicionar Usuario</a></li>
	<li><a href="/cadastro/multa/">Adicionar Multa</a></li>
	</ul>
{% endblock %}

{% block corpo %}
<div id="lista_usuario_cadastrados">
<h2>Usuários Cadastrados</h2>
<table border="1">
		<tr>
			<td>Nome</td>
			<td>C.P.F.</td>
			<td>...</td>
			<td>...</td>
		</tr>
{% for usuario in usuario_lista %}
		<tr>
			<td>{{usuario.nome}}</td>
			<td>{{usuario.cpf}}</td>
			<td><a href="/cadastro/editar/{{usuario.id}}">Editar</a></td>
			<td><a href="/cadastro/excluir/{{usuario.id}}">Exluir</a></td>
		</tr>
	{% empty %}
		<span>Sem Cadastros</span>
{% endfor%}
</table>
</div>
<div id="lista_usuario_cadastrados">
<h2>Multas Cadastradas</h2>
<table border="1">
		<tr>
			<td>Titulo</td>
			<td>Gravidade</td>
			<td>Local</td>
			<td>Pontos</td>
		</tr>
{% for multa in multa_lista %}
		<tr>
			<td>{{multa.titulo}}</td>
			<td>{{multa.gravidade}}</td>
			<td>{{multa.local}}</td>
			<td>{{multa.numeros_de_pontos}}</td>
		</tr>
	{% empty %}
		<span>Sem Cadastros</span>
{% endfor%}
</table>
</div>
{% endblock %}